@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<br/>
<h3>@ViewBag.Message</h3>

<br />


<div>
    <h4>
    <p>This prototype project makes jQuery AJAX calls to the <a href="https://developer.edamam.com/edamam-recipe-api">Edamam API</a>.</p>
    </h4>
</div>

