@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<br />
<address>
    Support Center Avenue<br />
    Shiloh, IL 62221<br />
    <abbr title="Phone">P:</abbr>
    (618) 593-6833
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:DevDevOps1@gmail.com">DevDevOps1@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:DevDevOps1@gmail.com">DevDevOps1@gmail.com</a>
</address>